<div
  class="form_container"
  [style.width]="productListService.quantityFormWidth"
>
  <form #productForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- Header  -->
    <p>Add Quantity</p>

    <!-- Cost Input  -->
    <div>
      <label for="cost">Cost</label>
      <input
        type="number"
        name="cost"
        [(ngModel)]="quantityFormValues.cost"
        #cost="ngModel"
        required
      />
      <span [hidden]="cost.valid || cost.pristine"> Cost is required </span>
    </div>

    <!-- Quantity Input  -->
    <div>
      <label for="quantity">Quantity</label>
      <input
        type="number"
        name="quantity"
        [(ngModel)]="quantityFormValues.quantity"
        #quantity="ngModel"
        required
      />
      <span [hidden]="quantity.valid || quantity.pristine">
        Quantity is required
      </span>
    </div>

    <!-- Fomr Button  -->
    <div class="form_container-buttons">
      <button type="button" (click)="cancel(); productForm.reset()">
        Cancel
      </button>
      <button
        [ngStyle]="productForm.form.valid ? ableButton : disabledButton"
        type="submit"
        [disabled]="!productForm.form.valid"
        (click)="onSubmit(); productForm.reset()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
