<div class="dashboard_content" (click)="toggle($event)">
  <!-- top -->
  <div class="dashboard_content-top">
    <span class="dashboard_content-top--image">
      <img
        class="dashboard_content-top--image-arrow"
        src="https://img.icons8.com/material-two-tone/24/ffffff/expand-arrow--v1.png"
        [style.transform]="rotate"
      />
      <img
        class="dashboard_content-top--image-product"
        [src]="prod.images"
        alt="Product's image"
      />
    </span>
    <span>{{ prod.name }}</span>
    <span>{{ prod.quantity === null ? "_" : prod.quantity }}</span>
    <span>
      SAR {{ prod.cost === null ? "_" : (prod.cost | number: "1.2-2") }}
    </span>
    <span>SAR {{ prod.price | number: "1.2-2" }}</span>
    <span class="dashboard_content-top--button">
      <button (click)="addMoreQuantity(i)">
        <img
          id="plusButton"
          src="https://img.icons8.com/ios/31/000000/edit--v1.png"
        />
      </button>
    </span>
  </div>
  <!-- bottom -->
  <div class="dashboard_content-bottom" [style.height]="height">
    <div class="speedometer">
      <div class="circles">
        <span class="one"></span>
        <span class="two"></span>
        <span class="three"></span>
        <span class="four"></span>
        <div class="cursor" [style.transform]="speedometerRotation">
          <div class="cursor_line"></div>
          <div class="cursor_circle"></div>
        </div>
      </div>
    </div>
    <div>
      <p>You are in the {{ profitMarginZone }} Zone</p>
      <p>Your profit-margin is {{ profitMargin }}</p>
    </div>
  </div>
</div>
