.app {
  display: flex;
  min-height: 100vh;
  &_content {
    width: 100%;
  }
}
// .speedometer {
//   position: absolute;
//   .colors {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 150px;
//     height: 150px;
//     clip-path: circle(40% at 50% 50%);
//     span {
//       content: "";
//       padding: 10px;
//     }
//     .yellow {
//       width: 80%;
//       height: 100%;
//       background-color: #ef7139;
//       // clip-path: polygon(0 100%, 0 0, 100% 0);

//       // border-radius: 100% 0% 43% 57% / 100% 17% 0% 0%;
//     }
//     .red {
//       width: 100%;
//       height: 100%;
//       background-color: #fcd844;
//       clip-path: polygon(50% 100%, 0 0, 100% 0);
//     }
//     .green {
//       width: 80%;
//       height: 100%;
//       background-color: #2d3652;
//       // border-radius: 0% 100% 43% 57% / 100% 100% 0% 0%;
//     }
//     &_hole {
//       width: 100%;
//       height: 100%;

//       position: absolute;
//       background-color: #f0f0f0;
//       clip-path: circle(26% at 50% 50%);
//     }
//     .cursor {
//       position: absolute;
//       top: 35%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       width: 10px;
//       transform-origin: 0% 100%;

//       &_line {
//         content: "";
//         width: 30px;
//         height: 50px;
//         background-color: #354052;
//         clip-path: polygon(50% 0%, 60% 100%, 40% 100%);
//       }
//       &_circle {
//         content: "";
//         width: 20px;
//         height: 20px;
//         background-color: #3c5273;
//         clip-path: circle(50% at 50% 50%);
//       }
//     }
//   }
// }

.speedometer {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 98px;
  overflow: hidden;
  filter: drop-shadow(0px 0px 4px black);
  .circles {
    width: 100%;
    height: 100%;
    position: relative;
    span {
      content: "";
      position: absolute;
      width: 150px;
      height: 150px;
      &:nth-child(4) {
        height: 120px;
      }
    }
    .one {
      background-color: #e84c3d;
      clip-path: circle(50% at 50% 50%);
    }
    .two {
      background-color: #f1c42d;
      clip-path: circle(50% at 50% 100%);
      transform: rotateZ(40deg) translate(-0.3%, -50.1%);
    }
    .three {
      background-color: #2d3652;
      clip-path: circle(50% at 50% 100%);
      transform: rotateZ(140deg) translate(0%, -50%);
    }
    // .four {
    //   background-color: #ffffff;
    //   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    //   transform: rotateZ(0deg) translate(0%, 25%);
    // }
    .five {
      // background-color: #ffffff;
      // clip-path: circle(35% at 50% 50%);

      background-color: #3623236e;
      filter: drop-shadow(0px 0px 6px black);
      transform: scale(0.7) translateX(-3px);
      backdrop-filter: blur(8px);
      border-radius: 50%;
      border: 2px dashed;
    }
    .cursor {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%) rotateZ(116deg);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform-origin: 50% 90%;
      filter: drop-shadow(0px 0px 4px #6eb9ff);
      &_line {
        content: "";
        width: 30px;
        height: 50px;
        background-color: #6eb9ff;
        clip-path: polygon(50% 0%, 60% 100%, 40% 100%);
      }
      &_circle {
        content: "";
        width: 20px;
        height: 20px;
        background-color: #6eb9ff;
        clip-path: circle(50% at 50% 50%);
      }
    }
  }
}
// .one {
//   background-color: #ef7139;
//   clip-path: circle(50% at 50% 100%);
// }
// .two {
//   background-color: #fcd844;
//   clip-path: circle(50% at 50% 100%);
//   transform: rotateZ(60deg) translate(43%, -25%);
// }
// .three {
//   background-color: #2d3652;
//   clip-path: circle(50% at 50% 100%);
//   transform: rotateZ(120deg) translate(43%, -77%);
// }
