.dashboard {
  &_header {
    box-shadow: 3px 3px 7px 0px #e2e2e2;
    color: #707070;
    border: none;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(5, minmax(1rem, 10rem)) minmax(5rem, 1fr);
    align-items: center;
  }
}
