.dashboard {
  margin: 6px;
  border-radius: 5px;
  box-shadow: 0px 1px 6px 0px black;
  padding: 20px 4px;
  backdrop-filter: blur(20px);
  background-color: #000000b8;
  &_header {
    display: grid;
    grid-template-columns: repeat(5, minmax(1rem, 10rem)) minmax(4rem, 1fr);
    align-items: center;
    color: #ffffff;
    border-bottom: 1px solid;
    height: 60px;
    letter-spacing: 3px;
    @media (max-width: 500px) {
      grid-template-columns: repeat(4, minmax(1rem, 10rem));
      justify-items: center;
      font-size: 0.8rem;
      letter-spacing: 1px;
      span:nth-child(1),
      span:nth-child(6) {
        display: none;
      }
    }
  }
}
